<!-- row content -->
<app-expansion-table
  [defaultPageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 50]"
  [data$]="groups$"
  [displayData]="displayData">
  <ng-template let-group>
    <div class='row-buttons-wrapper'>
      <button mat-raised-button color="primary" aria-label="Edit This Group" (click)="openCreationDialog(group, true)" type="button">Edit This Group</button>
      <button mat-raised-button color="warn" aria-label="Delete This Group" (click)="confirmDeleteGroup(group)" type="button">Delete This Group</button>
    </div>
  </ng-template>
</app-expansion-table>
<!-- END row content -->

<!-- deletion confirmation modal -->
<app-projection-dialog [control$]="controlConfirmationDialog$" (onClose)="confirmationDialogClosed()"
  (getDialogRef)="receiveConfirmationDialogRef($event)">
  <h2 mat-dialog-title>Are you sure you want to delete this group?</h2>
  <mat-dialog-actions align="end">
    <button (click)="closeConfirmationDialog()" mat-icon-button aria-label="Cancel deleting group" type="button">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button aria-label="Confirm deleting group" type="submit" (click)="onDelete()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-dialog-actions>
</app-projection-dialog>
<!-- END deletion confirmation modal -->

<app-fab
  icon="add"
  label="Create a checkin item"
  (click)="openCreationDialog()">
</app-fab>

<!-- creation form modal -->
<app-projection-dialog
  [control$]="controlCreationDialog$"
  (onClose)="creationDialogClosed()"
  (getDialogRef)="receiveCreationDialogRef($event)">
  <div id='form-title'>
    <h2 mat-dialog-title>Create a Checkin Group</h2>
    <button (click)="closeCreationDialog()" mat-icon-button aria-label="Close check-in group form" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>

    <form [formGroup]="createGroupForm" (ngSubmit)="onSubmit()">

      <p [hidden]="!(this.createGroupForm.get('title')?.errors?.groupTitleExistsAlready)" style='color: red'>This name already exists; please choose another one.</p>

      <mat-form-field appearance="outline">
        <mat-label>Title of Checkin Group</mat-label>
        <input matInput placeholder="Insert title of checkin group" formControlName="title" required>
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>

      <mat-card mat-elevation-z1>
        <div formArrayName="members">
          <mat-card-header>
            <mat-card-subtitle>Members</mat-card-subtitle>
          </mat-card-header>
          <div *ngFor="let member of members.controls; let i = index;">
            <div id='field-box-main-content'>
              <div [formGroupName]="i">
                <mat-form-field>
                  <mat-label>Member name</mat-label>
                  <input matInput placeholder="Insert name of member" formControlName="title" required>
                  <mat-icon matSuffix>edit</mat-icon>
                </mat-form-field>
              </div>
              <div id='field-box-buttons-wrapper'>
                <button *ngIf="members.length > 1" mat-icon-button aria-label="Remove this member" (click)="removeMember(i)" type="button">
                  <mat-icon>clear</mat-icon>
                </button>
                <button *ngIf="members.length > 1 && i !== 0" mat-icon-button aria-label="Swap this member with the one above" (click)="swapMember(i, i - 1)"
                  type="button">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button *ngIf="members.length > 1 && i !== members.length - 1" mat-icon-button aria-label="Swap this member with the one below"
                  (click)="swapMember(i, i + 1)" type="button">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="i < members.length - 1">
              <mat-divider></mat-divider><br>
            </div>
          </div>
        </div>
      </mat-card>
      <br>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-icon-button aria-label="Add another member" (click)="addMember()" type="button">
      <mat-icon>add</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button [attr.aria-label]="editMode ? 'Confirm updating check-in group' : 'Submit new check-in group'"
      [disabled]="(createGroupForm.valid === null) ? false : !createGroupForm.valid"
      type="submit" (click)="onSubmit()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-dialog-actions>
</app-projection-dialog>
<!-- END creation form modal -->
