<!-- END row content -->
<app-expansion-table
  [defaultPageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 50]"
  [data$]="models$"
  [displayData]="displayData">
  <ng-template let-model>
    <button mat-raised-button color="warn" aria-label="Delete This Check-in Option" (click)="confirmDeleteModel(model)" type="button">Delete This Check-in Option</button>
  </ng-template>
</app-expansion-table>
<!-- END row content -->

<!-- deletion confirmation modal -->
<app-projection-dialog [control$]="controlDeletionDialog$" (onClose)="deletionDialogClosed()"
  (getDialogRef)="receiveDeletionDialogRef($event)">
  <h2 mat-dialog-title>Are you sure you want to delete this check-in option?</h2>
  <mat-dialog-actions align="end">
    <button (click)="closeDeletionDialog()" mat-icon-button aria-label="Cancel deleting check-in option" type="button">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button aria-label="Confirm deleting check-in option" type="submit" (click)="onDelete()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-dialog-actions>
</app-projection-dialog>
<!-- END deletion confirmation modal -->

<app-fab
  icon="add"
  label="Create a checkin item"
  (click)="openCreationDialog()">
</app-fab>

<!-- creation form modal -->
<app-projection-dialog
  [control$]="controlCreationDialog$"
  (onClose)="creationDialogClosed()"
  (getDialogRef)="receiveCreationDialogRef($event)">
  <div id='form-title'>
    <h2 mat-dialog-title>Create a Checkin Item</h2>
    <button (click)="closeCreationDialog()" mat-icon-button aria-label="Cancel creating checkin item" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>

    <form [formGroup]="createModelForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Title of Checkin Item</mat-label>
        <input matInput placeholder="Insert title of checkin item" formControlName="title" required>
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>

      <mat-card mat-elevation-z1>
        <div formArrayName="fields">
          <mat-card-header>
            <mat-card-subtitle>Fields</mat-card-subtitle>
          </mat-card-header>
          <div *ngFor="let field of fields.controls; let i = index;">
            <div id='field-box-main-content'>
              <div [formGroupName]="i">
                <mat-form-field>
                  <mat-label>Title of Field</mat-label>
                  <input matInput placeholder="Insert title of field" formControlName="title" required>
                  <mat-icon matSuffix>edit</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Type of Field</mat-label>
                  <mat-select formControlName="type" required>
                    <mat-option *ngFor="let type of fieldInputTypes; index as j;" [value]="fieldInputTypeValues[j]">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="optional">Optional?</mat-checkbox>
                <mat-checkbox formControlName="delay">Delay?</mat-checkbox>
                <mat-form-field  *ngIf="fields.get([i, 'type'])?.value === 'select'" class="selectGroup">
                  <mat-label>Select Group</mat-label>
                  <mat-select formControlName="groupId">
                    <mat-option *ngFor="let group of groups$ | async" [value]="group.id">
                      {{ group.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div id='field-box-buttons-wrapper'>
                <button *ngIf="fields.length > 1" mat-icon-button aria-label="Remove a field" (click)="removeField(i)" type="button">
                  <mat-icon>clear</mat-icon>
                </button>
                <button *ngIf="fields.length > 1 && i !== 0" mat-icon-button aria-label="Swap this field with the one above" (click)="swapField(i, i - 1)" type="button">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button *ngIf="fields.length > 1 && i !== fields.length - 1" mat-icon-button aria-label="Swap this field with the one below" (click)="swapField(i, i + 1)" type="button">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="i < fields.length - 1">
              <mat-divider></mat-divider><br>
            </div>
          </div>
        </div>
      </mat-card>

      <br>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-icon-button aria-label="Add another field" (click)="addField()" type="button">
      <mat-icon>add</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Confirm creating checkin item"
      [disabled]="(createModelForm.valid === null) ? false : !createModelForm.valid"
      type="submit" (click)="onSubmit()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-dialog-actions>
</app-projection-dialog>
<!-- END creation form modal -->