
mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.select-screen-button {
  font-size: 24px;
}

#small-text {
  padding-top: 20px;
  font-size: 0.9rem;
  color: rgb(100,100,100);
}

#route-records-wrapper {
  margin: 10px;
  padding-top: 20px;
  text-align: center;
}

#route-records-wrapper > p {
  font-size: 16px;
}

#route-records-wrapper button {
  margin: 5px;
}

#table-top {
  margin: 5px;
  background-color: white;
}

.row-buttons-wrapper button {
  margin: 5px;
}

#form-title {
  display: flex;
  justify-content: space-between;
}

