<mat-card>
    <h3 id="warning-message">If some things aren't working for you, ask another administrator or members of Developer Student Club at Georgia Tech to verify that you've been granted admin access in the "Admin Access" section.</h3>
</mat-card>

<mat-card>
    <p>Welcome to the administrator portal for recycling administrators.</p>
</mat-card>

<mat-card>
    <h2>Crewmember Websites</h2>
    <p>Route Recorder: <a target="_blank" href="https://github.gatech.edu/pages/dscgt/route_recorder_dist">https://github.gatech.edu/pages/dscgt/route_recorder_dist</a></p>
    <p>Recycling Checkout/Checkin: <a target="_blank" href="https://github.gatech.edu/pages/dscgt/recycling_checkin_dist">https://github.gatech.edu/pages/dscgt/recycling_checkin_dist</a></p>
</mat-card>
