<mat-card>
    <h3 id="warning-message">If most pages are showing up empty for you, ask another administrator or members of Developer Student Club at Georgia Tech to verify that you've been granted admin access in the "Admin Access" section.</h3>
</mat-card>

<mat-card>
    <p>Welcome to the administrator portal for recycling administrators.</p>
    <p>Select an option from the menu, or click a button below to begin!</p>
</mat-card>

<mat-card>
    <h2>Recycling Routes</h2>
    <div class="actions">
        <a routerLink="/routes/manage">
            <button mat-button>
                Manage Routes
            </button>
        </a>
        <a routerLink="/routes/records">
            <button mat-button>
                View Route Records
            </button>
        </a>
        <a routerLink="/routes/groups">
            <button mat-button>
                Control Route Groups
            </button>
        </a>
    </div>
</mat-card>

<mat-card>
    <h2>Recycling Checkins</h2>
    <div class="actions">
        <a routerLink="/checkin/manage">
            <button mat-button>
                Manage Checkins
            </button>
        </a>
        <a routerLink="/checkin/records">
            <button mat-button>
                View Checkin Records
            </button>
        </a>
        <a routerLink="/checkin/groups">
            <button mat-button>
                Control Checkin Groups
            </button>
        </a>
    </div>
</mat-card>