.spacer {
  flex: 1 1;
}
mat-form-field {
  margin-left: 8px;
}

mat-checkbox {
  margin-left: 10px;
  margin-right: 15px;
}

.selectGroup {
  margin-left: 10px;
}

.row-buttons-wrapper button {
  margin: 5px;
}

// Angular has a "mat-card-footer" element, but it's display block
.card-footer {
  display: flex;
  justify-content: space-between;
}

.card-footer > p {
  font-size: 11px;
  width: 50%;
}

.field-box-main-content {
  display: flex;
  justify-content: space-between;
}

.field-box-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-title {
  display: flex;
  justify-content: space-between;
}
